doctype html
html
    head
        title Welcome
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        form.general-form(action="/logout", method="get")
            h1 You are logged in. Do you want to log out?
            div
                button.buttons Log out